.logOutContainer{
color:#53353E;
margin-left: 12px;
font-size: 20px;
font-family: 'Comfortaa', cursive;
}

.logoutButton{
  margin-top: 7px;
  margin-left: 12px;
  color:#53353E;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
  background-color: #F8E2C0;
  font-weight: bold;
}
.promptText{
  margin-bottom: 7px;
}
.dotRedlogOut {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.logOutMsg{
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
}
